@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: .2s linear;
    
    }  
    
    
    .container{
        width: 100%;
        height: 100vh;
        background-image: url("backgroundcov.png");
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .div1{
        width: 350px;
        margin: auto;
        margin: 10 0 0 450px;
        overflow: hidden;
        padding: 75px;
        
    }

    h1{
        text-align: center;
        padding: 10px;
        color: #00a050;
    }

    label {
        color: rgb(10, 10, 10);
        padding-left: 10px;
    }


    .inputText{
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 2px;
        padding-left: 8px;
        

    }
    #signup{
        width: 300px;
        height: 30px;
        border: none;
        color: #0e0f0e;
        border-radius: 10px;
        padding-left: 7px;
        font-size: 16px;
        margin: 10px;
    }

    #signin{
        width: 300px;
        height: 30px;
        border: none;
        color: #0f1110;
        border-radius: 10px;
        padding-left: 7px;
        font-size: 16px;
        margin: 10px;
    }

    